# === Salidas y temporales de MikroC PRO for dsPIC ===
*.asm
*.hex
*.lst
*.dbg
*.dlt
*.mcl
*.cp
*.ini
*.dic
*.log
*.brk
*.bmk
*.cp~
*.c~
*.h~
*.__ca
*.mpas_callertable.txt
*.mbas_callertable.txt
*.mbas_globals.txt

# === Python / Entornos virtuales ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# === IDEs y Editores ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Archivos de Sistema ===
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
